.toolbar-title {
  margin: 0 16px 0 16px;
}

.navigation-items {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.inline {
  display:inline;
}

.fill-space {
  flex: 1 1 auto;
}