<mat-toolbar color="primary" class="crm-navigation-bar" >

  <mat-toolbar-row>

		<img mat-card-image src="../../../assets/images/pipou_logo.png" alt="PIPOU_LOGO" style="max-height: 5vw; width: auto;" routerLink="/accueil">
    
    <div *ngIf='clientConnecte()' fxFlex fxLayout fxLayoutAlign="flex-end">

      <ul fxLayout fxLayoutGap="20px" class="navigation-items" style="justify-content: center;">

        <li fxHide.xs class="inline" style="justify-content: center;">
          <mat-search-bar ></mat-search-bar>
        </li>

        <li fxHide.xs class="inline">
          <button mat-icon-button routerLink="/panier">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </li>

        <li class="inline">
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">

            <button mat-menu-item routerLink="/bibliotheque">
              <mat-icon>list</mat-icon>
              <span>Bibliothèque</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Deconnexion</span>
            </button>

          </mat-menu>
        </li>

      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>