<div class="main-div centered"> 
	<mat-card id="connexionCard" class="centered">
		<mat-card-header class="centered">
			<img mat-card-image src="../../assets/images/pipou_logo.png" alt="PIPOU_LOGO" style="max-width: 20vw; height: auto;">
		</mat-card-header>

		<form class="example-form centered" [formGroup]="connexionForm" (ngSubmit)="onSubmit(connexionForm.value)">
			<mat-card-content>
					<mat-form-field>
						<input 
							matInput 
							placeholder="Login" 
							type="text" 
							formControlName="login" 
							[ngClass]="{'form-control': true, 'errorInput': loginError}"
							onchange=""
						/>
					</mat-form-field>
					<p *ngIf="loginErrorMessage" class="errorMessage">
						{{loginErrorMessage}}
					</p>

					<br>

					<mat-form-field>
						<input 
							matInput 
							placeholder="Password" 
							type="password" 
							formControlName="password"
							[ngClass]="{'form-control': true, 'errorInput': passwordError}"
						/>	
					</mat-form-field>
					<p *ngIf="passwordErrorMessage" class="errorMessage">
						{{passwordErrorMessage}}
					</p>
			</mat-card-content>

			<mat-card-actions class="centeredContent">
				<button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary" type="submit">
					CONFIRMER
				</button>

				<button mat-button color="primary" [disabled]="loading" class="btn btn-primary" (click)="btnClick()" type="button">
					INSCRIPTION
				</button>
			</mat-card-actions>
			<p *ngIf="errorMessage" class="errorMessage">
				{{errorMessage}}
			</p>
		</form>              
	</mat-card>
</div>