.example-header-image {
    background-image: url('https://dspncdn.com/a1/media/692x/f4/bf/a2/f4bfa2f714c040ed4c1f6c0c4bfb140c.jpg');
    background-size: cover;
  }
  .nouveauCommentaire{
    width: 100%;
  }