.main-div{
  height: 100vh;
  width: 100vw;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.2rem;
}
.btn {
  margin: 5px;
}

.errorMessage {
  color: red;
}